/**
 * WisdmLabs Group Registration Plugin Compatibility
 * 
 * CSS that helps style all frontend elements that this plugin
 * adds to a LearnDash site.
 */

/**
 * TABLE OF CONTENTS
 *
 * 0.0 - Global
 * 1.0 - Group Select
 *    1.1 - 
 * 2.0 - 
 
 */

/**
 * 0.0 - Global
 */

// Box Sizing/Border Box
div.ldgr-group-settings-wrap,
.wdm-select-wrapper .ldgr-group-actions {
	box-sizing: border-box;
}

// text <input> fields
.wdm-select-wrapper input[type="text"],
.ldgr-group-actions input,
#add_user_data input,
#wdm_group_filter label input {
	border-radius: calc(var(--ldx-global-border-radius) * 0.6);
}


/**
 * 1.0 - Group Select
 */
// Settings cog icon
div.ldgr-group-settings-wrap {
	width: 41px;
	height: 41px;
	border-radius: var(--ldx-global-border-radius) var(--ldx-global-border-radius) 0 0;
}

.wdm-select-wrapper {

	// Main Container
	.wdm-select-wrapper-content {
		margin-bottom: 0;
		border-radius: var(--ldx-global-border-radius) 0 var(--ldx-global-border-radius) var(--ldx-global-border-radius);
	}

	// "Group" label for <select>
	.wdm-select-wrapper-content h3 {
		font-size: inherit;
		font-weight: inherit;
	}

	// <select>
	.wdm-select-wrapper-content select {
		width: auto;
		max-width: 250px;
	}

	// Registrations Left: X
	.wdm-registration-wrapper .wdm-registration-left {
		font-size: 1em;
	}

	// Update Course
	.ldgr-group-actions {
		width: 90%;
		padding: 1em;
		margin: -1px auto 0;
		border-radius: 0 0 var(--ldx-global-border-radius) var(--ldx-global-border-radius);
		background-color: rgba( $black, 0.05 );
	}

	.ldgr-group-actions label {
		display: block;
		padding: 0 0 0.25em 0.25em;
	}

	.ldgr-group-actions br {
		display: none;
	}
	// "Update" Button
	#ldgr-update-group-details {
		margin-top: 0.5em;
	}

	// Associated Courses (if enabled in settings)
	.wdm_group_course_detail {
		margin-top: 1em;
		border: 0;
		box-shadow: none;
	}

	// "Associated Courses" Header
	p.wdm_course_list_title {
		padding: 0 0.5em;
		background-color: transparent;
		color: inherit;
		font-weight: 700;
	}

	// List Items
	.wdm_group_course_detail li {
		margin-left: 0; // inherits theme's list styles
	}

} // .wdm-select-wrapper



.wdm-tabs-wrapper {

	.wdm-tabs-inner-links ul.tabs {
		padding: 0 !important; // @divi
		border-bottom: 0;

		&::after {
			display: block;
			content: '';
			position: absolute;
			width: 100%;
			height: 6px;
			bottom: -6px;
			left: 0;
			background: rgba( $black, 0.1 );
			border-radius: var(--ldx-global-border-radius);
		}

		@media (max-width: 640px) {
			&::after {
				display: none;
			}
		}
	}

	ul.tabs li a {
		font-size: inherit;
		font-weight: 600;
		color: inherit;
		text-decoration: none; // @neve

		&:hover,
		&:active,
		&:focus {
			color: var(--ldx-color-link-hover);
		}
	}

	ul.tabs .tab-link.current {

		@media (max-width: 640px) {	
			box-shadow: 0 0 0 2px var(--ldx-color-link-hover);
		}

	}	

	ul.tabs li.current a {
		color: var(--ldx-color-link-hover);
	}

	// border underneath current/active tab link
	#wdm-border-bottom {
		height: 6px;
		bottom: -6px;
		background-color: var(--ldx-color-link-hover);
		border-radius: var(--ldx-global-border-radius);
	}

	// each tab container
	div.tab-content {
		background-color: rgba( $black, 0.08 );
		border-radius: var(--ldx-global-border-radius);
		padding: 1.5em;
		/* @keyframes duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state | name */
		animation: 240ms ease-in-out 0s 1 normal both ldx-fadein-slideup;
	}

	/**
	 * dataTables
	 */
	.dataTables_wrapper .dataTables_length,
	.dataTables_wrapper .dataTables_filter,
	.dataTables_wrapper .dataTables_info,
	.dataTables_wrapper .dataTables_processing,
	.dataTables_wrapper .dataTables_paginate,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
		color: inherit;
	}

	// Pagination
	.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
		min-width: 28px;
		min-height: 28px;
		padding: 0.125em 0.375em;
		border-radius: calc(var(--ldx-global-border-radius) * 0.4);
	}

	/**
	 * Enrolled Users Tab (#tab-1)
	 */

	// Search form
	#wdm_group_filter label,
	// Show __ Users
	#wdm_group_length label,
	table#wdm_group th,
	table#wdm_group td,
	table#add_user_data th,
	table#add_user_data td,
	#tab-3 #wdm_ldgr_group_report th,
	#tab-3 #wdm_ldgr_group_report td {
		font-size: inherit;
	}

	table#wdm_group,
	table#add_user_data,
	table#wdm_ldgr_group_report {
		font-family: inherit;
		background-color: $white;
		border: 0;
		border-radius: var(--ldx-global-border-radius);
		box-shadow: none;
		overflow: hidden;
	}

	table#wdm_group {
		margin-bottom: 0;
	}

	table#wdm_group th,
	table#wdm_group td,
	table#add_user_data th,
	table#add_user_data td,
	#tab-3 #wdm_ldgr_group_report td,
	#tab-3 #wdm_ldgr_group_report th {
		padding: 8px 10px !important;
	}

	table#wdm_group th,
	table#wdm_group td,
	table#add_user_data th,
	table#add_user_data td {
		color: inherit;
		border-color: #e9e9e9;
	}
	table#wdm_group th,
	table#add_user_data th,
	#tab-3 #wdm_ldgr_group_report th {
		background-color: #555;
		color: $white;
		border-bottom: 0;
	}
	table#wdm_group th:first-of-type {
		text-align: center;
	}

	table.dataTable tr.odd,
	table#wdm_group tr:hover,
	table#add_user_data tr:hover {
		background: transparent;
	}
	table#wdm_group tr:hover td {
		color: inherit;
	}

	.ldgr-actions .wdm_remove.button {
		display: inline-block !important;
		padding: 0.25em 0.8375em;
		background: transparent;
		border-radius: var(--ldx-btn-border-radius);
		font-size: 90%;
		color: var(--ldx-color-incorrect);
		transition: all 100ms ease;

		&:hover {
			background-color: var(--ldx-color-incorrect);
			color: #fff;
		}
	}

	#wdm_group_filter label input {
		margin-left: 0.5em;

		.rtl & {
			margin-right: 0.5em;
		}
	}

	#wdm_group td p {
		margin: 0;
		padding: 0;
	}

	
	/**
	 * Enroll New User (#tab-2)
	 */
	// Pill Tabs (Add User | Upload User)
	ul.wdm-adduser-tabs {
		padding: 0 !important; // @divi
		margin-left: 0;
		background-color: $white;
		border-radius: var(--ldx-btn-border-radius);
		border: 1px solid rgba( $black, 0.22 );
	}
	ul.wdm-adduser-tabs li {
		padding: 0;

		&:first-child {
			border-radius: var(--ldx-btn-border-radius) 0 0 var(--ldx-btn-border-radius);
		}
		&:last-child {
			border-radius: 0 var(--ldx-btn-border-radius) var(--ldx-btn-border-radius) 0;
			margin-left: 1px;
		}

		&:hover {
			color: var(--ldx-color-link-hover);
			box-shadow: 0 0 0 1px var(--ldx-color-link-hover);
		}
	}

	.wdm-adduser-tabs li a {
		display: block;
		padding: 0.25em 0.9375em;
		color: inherit;
		font-size: 85%;
		letter-spacing: -0.02em;
		text-decoration: none; // @neve
	}
	// Current Pill
	.wdm-adduser-tabs li.current {
		box-shadow: 0 0 0 1px var(--ldx-color-link-hover);
		background-color: var(--ldx-color-link-hover);
	}
	.wdm-adduser-tabs .current a {
		font-weight: 600;
		color: $white;
	}

	/**
	 * Add User
	 */
	table#add_user_data #wdm-clear {

		@media (max-width:1200px) {
			padding: 12px 10px;
		}
	}

	#wdm-clear .wdm_clear_data {
		margin-right: 0.375em;
		font-size: inherit;
		vertical-align: unset;
		color: var(--ldx-color-link);

		.rtl & {
			margin: 0 0 0 0.375em;
		}

		&:hover {
			background: none;
			color: var(--ldx-color-link-hover);
			text-decoration: underline;
			transition: none;
		}
	}

	// Add/Remove User Images
	.wdm-add-user-btn img,
	.wdm_remove_add_user img {
		width: 20px;
		height: 20px;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}

	// Remove User, red - image
	.wdm_remove_add_user {
		padding: 0;
		margin-left: 2px;

		.rtl & {
			margin: 0 2px 0 0;
		}
	}

	// Download Sample CSV link
	.wdm-download-csv a {
		color: var(--ldx-color-link);

		&:hover {
			color: var(--ldx-color-link-hover);
			text-decoration: underline;
		}
	}

	// Filename of uploaded file
	#uploadcsv {
		font-weight: 600;
	}

	// Overlay when uploading files
	.blocked,
	#wdm-ldgr-overlay {
		background: $black;
		border-radius: var(--ldx-global-border-radius);
		opacity: 0.2;
	}

	// Upload File Progress Bar
	.wdm-progress-container,
	dd.course_progress {
		width: auto;
		height: var(--ldx-progress-bar-height);
		background-color: var(--ldx-progress-bar-container-bg);
		border-radius: var(--ldx-progress-bar-border-radius);
		box-shadow: none;
	}
	.wdm-progress-bar,
	dd.course_progress div.course_progress_blue {
		height: var(--ldx-progress-bar-height);
		background-color: var(--ldx-progress-bar-bg);
		border-radius: var(--ldx-progress-bar-border-radius);
		box-shadow: none;
	}

	// The tab content within the Add User | Upload User pills
	.wdm-tab-content {
		background: transparent;
		padding: 0; // bc padding is already on the .tab-content container
		animation: 240ms ease-in-out 0s 1 normal both ldx-fadein-slideup;
	}


	/**
	 * Report Tab (#tab-3)
	 */
	#tab-3 {
		padding: 1.5em;
	}
	#tab-3 .wdm-select-wrapper {
		margin: 0;
	}
	#tab-3 .wdm-select-wrapper h6 {
		display: none;
	}

	/**
	 * Report Table
	 */
	// Show __ entries
	#wdm_ldgr_group_report_length {
		padding: 0.5em;
	}

	.course_overview_heading {
		display: none;
	}

	dd.course_progress {
		margin: 0;
	}

	#wdm_ldgr_group_report tr.shown,
	#wdm_ldgr_group_report tr.shown + tr {
		background-color: rgba( $black, 0.03 );
	}

	#wdm_ldgr_group_report .flip {
		padding: 0.25em;

		.right {
			padding: 0.25em 0.25em 0;
		}
	}

	.dataTables_wrapper .dataTables_info, // Showing __ to __ of __ entries
	.dataTables_wrapper .dataTables_paginate { // Pagination
		padding: 0.5em;
	}

} // .wdm-tabs-wrapper


/**
 * Notifications/Messages/Warnings
 */
#wdm_search_submit {

	> .wdm-error-message,
	> .wdm-update-message {
		margin: 0 0 3em;
	}

	.wdm-update-message,
	.wdm-error-message {
		padding: 0.75em 1em;
		border-radius: var(--ldx-global-border-radius);
		border-width: var(--ldx-alert-border-width);
		border-style: solid;
	}

	.wdm-error-message {
		border-color: var(--ldx-alert-warning-color-border);
		background-color: var(--ldx-alert-warning-color-bg);
		color: var(--ldx-alert-warning-color-text);
	}

	.wdm-update-message {
		border-color: var(--ldx-alert-success-color-border);
		background-color: var(--ldx-alert-success-color-bg);
		color: var(--ldx-alert-success-color-text);
	}

} // #wdm_search_submit

